body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.curved{
  background-color: #ff3c00;
  color: #fff;
  text-align: center;
}

.curved h1 {
  font-size: 6rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}